/* sass base styles */

@import "variables";

html {
//     background: -webkit-linear-gradient($light-grey, $white);
    /* For Safari 5.1 to 6.0 */
//     background: -o-linear-gradient($light-grey, $white);
    /* For Opera 11.1 to 12.0 */
//     background: -moz-linear-gradient($light-grey, $white);
    /* For Firefox 3.6 to 15 */
//     background: linear-gradient($light-grey, $white);
    /* Standard syntax (must be last) */
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    body {
        border: 0;
        font-family: 'Droid Serif', serif;
        margin: 0;
        padding: 0;
        .container {
            margin: 0 auto;
            max-width: 960px;
            padding: 0 20px;
            #site-logo {
                background: url(../img/sprite.png) no-repeat -89px 0;
                height: 105px;
                margin: 20px 0;
                width: 250px;
            }
            h1 {
                font-family: 'Droid Serif';
                font-weight: bold;
                font-size: 24px;
            }
            .ng-scope {
	            #unsorted {
		            background: url(../img/sprite.png) no-repeat -279px -142px;
		            cursor: not-allowed;
		            float: right;
		            height: 35px;
		            opacity: 0.2;
		            text-indent: -9999px;
		            transition: $ease25;
		            width: 36px;
	            }
	            #unsorted.sorted-by {
		            cursor: pointer;
		            opacity: 1;
		            transition: $ease25;
	            }
                #sortRule {
                    left: 0;
                    position: absolute;
                    top: -50px;
                }
                #products {
                    border: 1px solid $mid-grey;
                    margin: 20px 0;
                    width: 100%;
                    thead {
                        border-bottom: 1px solid $mid-grey;
	                    tr {
                            height: 60px;
                            color: $mid-grey;
                            padding-bottom: 20px;
                            padding-top: 20px;
                            th {
                                a {
                                    color: $mid-grey;
                                    text-decoration: none;
                                }
                                a.no-sort {
                                    cursor: not-allowed;
                                }
                            }
                            th.sorted.ascending {
	                            .show-sort-dir {
                                	background: url(../img/sprite.png) no-repeat -349px 3px;
                                	height: 14px;
                                	width: 12px;
                                }
                            }
                            th.sorted.descending {
	                            .show-sort-dir {
                                	background: url(../img/sprite.png) no-repeat -349px -175px;
                                	height: 14px;
                                	width: 12px;
                                }
                            }

                            th.item-name.sorted.ascending,
                            th.item-size.sorted.ascending,
                            th.item-type.sorted.ascending {
	                            a {
		                            float: left;
                                	margin-right: 2px;
	                            }
	                            .show-sort-dir {
	                                float: left;
                                }
                            }
                            th.item-name.sorted.descending,
                            th.item-size.sorted.descending,
                            th.item-type.sorted.descending {
	                            a {
		                            float: left;
                                	margin-right: 2px;
	                            }
	                            .show-sort-dir {
                            		float: left;
                            	}
                            }

                            th.item-name {
                                padding-left: 10px;
                            }
                            th.item-price,th.item-cost {
	                            a {
		                            float: right;
                                	margin-left: 2px;
	                            }
	                        }
                            th.item-price.sorted.ascending {
	                            .show-sort-dir {
	                                float: right;
                                }
                            }
                            th.item-price.sorted.descending {
	                            .show-sort-dir {
                            		float: right;
                            	}
                            }
                            th.item-size {
	                            padding-left: 15px;
	                            padding-right: 5px;
                            }
                            th.item-type,
                            th.item-cost {
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                            th.item-delete {
                                padding-right: 14px;
                                text-align: center;
                            }
                            th.sorted {
                                a {
                                    color: $primaryColor;
                                }
                            }
                            th.sortable {
                                a {
									transition: $ease25;
                                }
                                a:hover {
                                    color: $dark-grey;
									transition: $ease25;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
	                            padding-bottom: 20px;
	                            padding-top: 20px;
                                label {
                                    input {
                                        border: 1px solid $mid-grey;
                                        font-size: 18px;
                                        float: left;
                                        height: 28px;
                                        margin: 0;
                                        padding: 0 5px 0 0;
                                        text-align: right;
                                        width: 33px;
                                    }
                                }
                                .button {
                                    margin: 0 0 0 43px;
                                    text-indent: -9999px;
                                    cursor: pointer;
                                    width: 16px;
                                    height: 14px;
                                    text-align: center;
                                    background: url(../img/sprite.png) no-repeat 0 -82px;
                                }
                                .decrement {
                                    background-position: 0 -98px;
                                    margin-top: 2px;
                                }
                            }
                            td.item-name {
                                padding-left: 10px;
                            }
                            td.item-cost, td.item-price {
                                text-align: right;
                            }
                            td.item-size {
	                            padding-left: 15px;
                            }
                            td.item-type,
                            td.item-cost {
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                            td.item-delete, td.empty-col {
                                text-align: center;
                            }
                            td.item-delete {
                                .delete {
                                    background: url(../img/sprite.png) no-repeat 4px -52px;
                                    cursor: pointer;
                                    height: 25px;
                                    margin: 0 auto;
                                    text-indent: -9999px;
                                    width: 25px;
                                }
                            }
                        }
                        tr:nth-child(even) {
                            background-color: $light-grey;
                        }
                    }
                }
            }
            #totals {
                font-size: 24px;
                margin-bottom: 40px;
                .sum-section {
                    div {
                        float: left;
                        margin-bottom: 20px;
                    }
                    div:first-child {
                        width: 200px;
                    }
                }
                #btnBuyNow {
                    background: url(../img/sprite.png) no-repeat -1px -119px;
                    cursor: pointer;
                    text-indent: -9999px;
                    height: 60px;
                    width: 133px;
                }
                #btnBuyNow.disabled {
	                cursor: not-allowed;
	                opacity: 0.4;
                }
            }
            #results{
	            margin: 20px 0;
            }
        }
    }
}