/* sass base styles */
/* sass variables */
html {
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  /* Standard syntax (must be last) */
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }
  html body {
    border: 0;
    font-family: 'Droid Serif', serif;
    margin: 0;
    padding: 0; }
    html body .container {
      margin: 0 auto;
      max-width: 960px;
      padding: 0 20px; }
      html body .container #site-logo {
        background: url(../img/sprite.png) no-repeat -89px 0;
        height: 105px;
        margin: 20px 0;
        width: 250px; }
      html body .container h1 {
        font-family: 'Droid Serif';
        font-weight: bold;
        font-size: 24px; }
      html body .container .ng-scope #sortRule {
        left: 0;
        position: absolute;
        top: -50px; }
      html body .container .ng-scope #products {
        border: 1px solid #999999;
        margin: 20px 0;
        width: 100%; }
        html body .container .ng-scope #products thead {
          border-bottom: 1px solid #999999; }
          html body .container .ng-scope #products thead tr {
            height: 60px;
            color: #999999;
            padding-bottom: 20px;
            padding-top: 20px; }
            html body .container .ng-scope #products thead tr th a {
              color: #999999;
              text-decoration: none; }
            html body .container .ng-scope #products thead tr th a.no-sort {
              cursor: not-allowed; }
            html body .container .ng-scope #products thead tr th.sorted.ascending .show-sort-dir {
              background: url(../img/sprite.png) no-repeat -349px -175px;
              height: 14px;
              width: 12px; }
            html body .container .ng-scope #products thead tr th.sorted.descending .show-sort-dir {
              background: url(../img/sprite.png) no-repeat -349px 3px;
              height: 14px;
              width: 12px; }
            html body .container .ng-scope #products thead tr th.item-name.sorted.ascending a, html body .container .ng-scope #products thead tr th.item-size.sorted.ascending a, html body .container .ng-scope #products thead tr th.item-type.sorted.ascending a {
              float: left;
              margin-right: 2px; }
            html body .container .ng-scope #products thead tr th.item-name.sorted.ascending .show-sort-dir, html body .container .ng-scope #products thead tr th.item-size.sorted.ascending .show-sort-dir, html body .container .ng-scope #products thead tr th.item-type.sorted.ascending .show-sort-dir {
              float: left; }
            html body .container .ng-scope #products thead tr th.item-name.sorted.descending a, html body .container .ng-scope #products thead tr th.item-size.sorted.descending a, html body .container .ng-scope #products thead tr th.item-type.sorted.descending a {
              float: left;
              margin-right: 2px; }
            html body .container .ng-scope #products thead tr th.item-name.sorted.descending .show-sort-dir, html body .container .ng-scope #products thead tr th.item-size.sorted.descending .show-sort-dir, html body .container .ng-scope #products thead tr th.item-type.sorted.descending .show-sort-dir {
              float: left; }
            html body .container .ng-scope #products thead tr th.item-name {
              padding-left: 10px; }
            html body .container .ng-scope #products thead tr th.item-price a, html body .container .ng-scope #products thead tr th.item-cost a {
              float: right;
              margin-left: 2px; }
            html body .container .ng-scope #products thead tr th.item-price.sorted.ascending .show-sort-dir {
              float: right; }
            html body .container .ng-scope #products thead tr th.item-price.sorted.descending .show-sort-dir {
              float: right; }
            html body .container .ng-scope #products thead tr th.item-size {
              padding-left: 15px;
              padding-right: 5px; }
            html body .container .ng-scope #products thead tr th.item-type, html body .container .ng-scope #products thead tr th.item-cost {
              padding-left: 5px;
              padding-right: 5px; }
            html body .container .ng-scope #products thead tr th.item-delete {
              padding-right: 14px;
              text-align: center; }
            html body .container .ng-scope #products thead tr th.sorted a {
              color: #6699ff; }
        html body .container .ng-scope #products tbody tr td {
          padding-bottom: 20px;
          padding-top: 20px; }
          html body .container .ng-scope #products tbody tr td label input {
            border: 1px solid #999999;
            font-size: 18px;
            float: left;
            height: 28px;
            margin: 0;
            padding: 0 5px 0 0;
            text-align: right;
            width: 33px; }
          html body .container .ng-scope #products tbody tr td .button {
            margin: 0 0 0 43px;
            text-indent: -9999px;
            cursor: pointer;
            width: 16px;
            height: 14px;
            text-align: center;
            background: url(../img/sprite.png) no-repeat 0 -82px; }
          html body .container .ng-scope #products tbody tr td .decrement {
            background-position: 0 -98px;
            margin-top: 2px; }
        html body .container .ng-scope #products tbody tr td.item-name {
          padding-left: 10px; }
        html body .container .ng-scope #products tbody tr td.item-cost, html body .container .ng-scope #products tbody tr td.item-price {
          text-align: right; }
        html body .container .ng-scope #products tbody tr td.item-size {
          padding-left: 15px; }
        html body .container .ng-scope #products tbody tr td.item-type, html body .container .ng-scope #products tbody tr td.item-cost {
          padding-left: 5px;
          padding-right: 5px; }
        html body .container .ng-scope #products tbody tr td.item-delete, html body .container .ng-scope #products tbody tr td.empty-col {
          text-align: center; }
        html body .container .ng-scope #products tbody tr td.item-delete .delete {
          background: url(../img/sprite.png) no-repeat 4px -52px;
          cursor: pointer;
          height: 25px;
          margin: 0 auto;
          text-indent: -9999px;
          width: 25px; }
        html body .container .ng-scope #products tbody tr:nth-child(even) {
          background-color: #cccccc; }
      html body .container #totals {
        font-size: 24px;
        margin-bottom: 40px; }
        html body .container #totals .sum-section div {
          float: left;
          margin-bottom: 20px; }
        html body .container #totals .sum-section div:first-child {
          width: 200px; }
        html body .container #totals #btnBuyNow {
          background: url(../img/sprite.png) no-repeat -1px -119px;
          cursor: pointer;
          text-indent: -9999px;
          height: 60px;
          width: 133px; }
        html body .container #totals #btnBuyNow.disabled {
          cursor: not-allowed;
          opacity: 0.4; }
      html body .container #results {
        margin: 20px 0; }
