/* Created by Francisco Benedict - 21/05/2015 */

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.hide {
    displayu: none;
}