/* sass base styles */
/* sass variables */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\000035}}
html {
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  /* Standard syntax (must be last) */
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000319}}
html body {
  border: 0;
  font-family: 'Droid Serif', serif;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000324}}
html body .container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000328}}
html body .container #site-logo {
  background: url(../img/sprite.png) no-repeat -89px 0;
  height: 105px;
  margin: 20px 0;
  width: 250px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000334}}
html body .container h1 {
  font-family: 'Droid Serif';
  font-weight: bold;
  font-size: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000340}}
html body .container .ng-scope #unsorted {
  background: url(../img/sprite.png) no-repeat -279px -142px;
  cursor: not-allowed;
  float: right;
  height: 35px;
  opacity: 0.2;
  text-indent: -9999px;
  transition: all 0.25s ease;
  width: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000350}}
html body .container .ng-scope #unsorted.sorted-by {
  cursor: pointer;
  opacity: 1;
  transition: all 0.25s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000355}}
html body .container .ng-scope #sortRule {
  left: 0;
  position: absolute;
  top: -50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000360}}
html body .container .ng-scope #products {
  border: 1px solid #999999;
  margin: 20px 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000364}}
html body .container .ng-scope #products thead {
  border-bottom: 1px solid #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000366}}
html body .container .ng-scope #products thead tr {
  height: 60px;
  color: #999999;
  padding-bottom: 20px;
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000372}}
html body .container .ng-scope #products thead tr th a {
  color: #999999;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000376}}
html body .container .ng-scope #products thead tr th a.no-sort {
  cursor: not-allowed;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000381}}
html body .container .ng-scope #products thead tr th.sorted.ascending .show-sort-dir {
  background: url(../img/sprite.png) no-repeat -349px 3px;
  height: 14px;
  width: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000388}}
html body .container .ng-scope #products thead tr th.sorted.descending .show-sort-dir {
  background: url(../img/sprite.png) no-repeat -349px -175px;
  height: 14px;
  width: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\0000398}}
html body .container .ng-scope #products thead tr th.item-name.sorted.ascending a,
html body .container .ng-scope #products thead tr th.item-size.sorted.ascending a,
html body .container .ng-scope #products thead tr th.item-type.sorted.ascending a {
  float: left;
  margin-right: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003102}}
html body .container .ng-scope #products thead tr th.item-name.sorted.ascending .show-sort-dir,
html body .container .ng-scope #products thead tr th.item-size.sorted.ascending .show-sort-dir,
html body .container .ng-scope #products thead tr th.item-type.sorted.ascending .show-sort-dir {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003109}}
html body .container .ng-scope #products thead tr th.item-name.sorted.descending a,
html body .container .ng-scope #products thead tr th.item-size.sorted.descending a,
html body .container .ng-scope #products thead tr th.item-type.sorted.descending a {
  float: left;
  margin-right: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003113}}
html body .container .ng-scope #products thead tr th.item-name.sorted.descending .show-sort-dir,
html body .container .ng-scope #products thead tr th.item-size.sorted.descending .show-sort-dir,
html body .container .ng-scope #products thead tr th.item-type.sorted.descending .show-sort-dir {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003118}}
html body .container .ng-scope #products thead tr th.item-name {
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003122}}
html body .container .ng-scope #products thead tr th.item-price a, html body .container .ng-scope #products thead tr th.item-cost a {
  float: right;
  margin-left: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003128}}
html body .container .ng-scope #products thead tr th.item-price.sorted.ascending .show-sort-dir {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003133}}
html body .container .ng-scope #products thead tr th.item-price.sorted.descending .show-sort-dir {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003137}}
html body .container .ng-scope #products thead tr th.item-size {
  padding-left: 15px;
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003141}}
html body .container .ng-scope #products thead tr th.item-type,
html body .container .ng-scope #products thead tr th.item-cost {
  padding-left: 5px;
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003146}}
html body .container .ng-scope #products thead tr th.item-delete {
  padding-right: 14px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003151}}
html body .container .ng-scope #products thead tr th.sorted a {
  color: #6699ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003156}}
html body .container .ng-scope #products thead tr th.sortable a {
  transition: all 0.25s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003159}}
html body .container .ng-scope #products thead tr th.sortable a:hover {
  color: #333333;
  transition: all 0.25s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003168}}
html body .container .ng-scope #products tbody tr td {
  padding-bottom: 20px;
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003172}}
html body .container .ng-scope #products tbody tr td label input {
  border: 1px solid #999999;
  font-size: 18px;
  float: left;
  height: 28px;
  margin: 0;
  padding: 0 5px 0 0;
  text-align: right;
  width: 33px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003183}}
html body .container .ng-scope #products tbody tr td .button {
  margin: 0 0 0 43px;
  text-indent: -9999px;
  cursor: pointer;
  width: 16px;
  height: 14px;
  text-align: center;
  background: url(../img/sprite.png) no-repeat 0 -82px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003192}}
html body .container .ng-scope #products tbody tr td .decrement {
  background-position: 0 -98px;
  margin-top: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003197}}
html body .container .ng-scope #products tbody tr td.item-name {
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003200}}
html body .container .ng-scope #products tbody tr td.item-cost, html body .container .ng-scope #products tbody tr td.item-price {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003203}}
html body .container .ng-scope #products tbody tr td.item-size {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003206}}
html body .container .ng-scope #products tbody tr td.item-type,
html body .container .ng-scope #products tbody tr td.item-cost {
  padding-left: 5px;
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003211}}
html body .container .ng-scope #products tbody tr td.item-delete, html body .container .ng-scope #products tbody tr td.empty-col {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003215}}
html body .container .ng-scope #products tbody tr td.item-delete .delete {
  background: url(../img/sprite.png) no-repeat 4px -52px;
  cursor: pointer;
  height: 25px;
  margin: 0 auto;
  text-indent: -9999px;
  width: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003225}}
html body .container .ng-scope #products tbody tr:nth-child(even) {
  background-color: #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003231}}
html body .container #totals {
  font-size: 24px;
  margin-bottom: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003235}}
html body .container #totals .sum-section div {
  float: left;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003239}}
html body .container #totals .sum-section div:first-child {
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003243}}
html body .container #totals a#btnBuyNow {
  background: #333333;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: all 0.25s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003251}}
html body .container #totals a#btnBuyNow:hover {
  background-color: #cccccc;
  transition: all 0.25s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003255}}
html body .container #totals a#btnBuyNow.disabled {
  background-color: red;
  cursor: not-allowed;
  opacity: 0.4;
  transition: all 0.25s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003262}}
html body .container #showResultsTitle {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003264}}
html body .container #showResultsTitle h2 {
  color: #cccccc;
  font-size: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/franciscobenedict\/OneDrive\/Jobsearch\%202015\/basket-case\/Basket-Case\/sass\/base\.scss}line{font-family:\00003269}}
html body .container #results {
  color: #999999;
  margin: 20px 0;
}
